---
layout: layouts/base.njk
title: About
tags: navbar
order: 1
---

<h1>About Me</h1>
<p>Write a few sentences about yourself here. Where are you from? What are you studying?</p>

<h2>Skills</h2>
<ul>
  <li>HTML</li>
  <li>CSS</li>
  <li>JavaScript</li>
</ul>
