body {
  background-color: lemonchiffon;
  min-height: 100%;
}

nav {
  display: flex;
  gap: 5vw;
  padding: 1vw;
  border-bottom: 1px solid black;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}