table, td, tr, th {                                                                       
border: 2px solid black;                                                
border-collapse: collapse;                                                            
color: maroon;                                                                        
padding: 8px                                                                          
}                                                                                        
body {                                                                    
background-color: darkorchid;                                                      
}                                                                                                                                            
#info{
   background-color: LemonChiffton;
 }
 .highlight{
	 background-color: PapayaWhip
}
#zoo{
    text-decoration: underline;
}
