body{
	background-color:grey;
		}
		.myDiv {
  border: 5px outset red;
  background-color: rgb(255, 255, 255);
  text-align: center;
}
		.text {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
}
        button {
  font-size: 16px;
  background-color: rgb(56, 52, 52);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  box-shadow: 5px 7px;
}
        button:hover {
  opacity: 1.0;
}