body {
    overflow-x: hidden;
    background-color: black;
}
/* (Accessibility styles removed per user request) */
.header {
  grid-area: head;

    background-image: url(images/Header.png);
    position: sticky;
    top: 0px;
    

}

.main {
  grid-area: main;
  background-image: url(images/MainPage.png);
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 100px;
  color: white;
}

.main2 {
  grid-area: main;
  background-image: url(images/Articlepage.png);
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 100px;
  color: white;
}

.footer {
  grid-area: foot;
  background-color: #000000;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  border-top: 3px solid #333;
  overflow-y: auto;
}

.menu {
  grid-area: menu;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 100px;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}
.menu2 {
  grid-area: menu2;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 100px;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-list li {
    margin: 0;
}

.menu-list a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
    display: block;
    padding: 10px;
}

.menu-list a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

h1 {
    font-size: 100px;
    color: black;
    font-family: 'courier new', courier, monospace;
    font-weight: bold;
    text-align: center;
}

.h2 {
    font-size: 50px;
    color: black;
    font-family: 'courier new', courier, monospace;
    font-weight: bold;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    margin-left: 300px;
    margin-right: 300px;

}

button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    margin: auto;
}

figcaption {
    font-size: 20px;
    color: black;
    font-family: 'arial', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.h3 {
    font-size: 40px;
    color: black;
    font-family: 'courier new', courier, monospace;
    font-weight: bold;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    
}

.p1 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: 'arial', sans-serif;
    font-weight: bold;
    text-align: center;
}
.p2 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: 'arial', sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: antiquewhite;
}

.p3 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: 'arial', sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: antiquewhite;
}

pre {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: 'arial', sans-serif;
    text-align: center;
}
button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    margin: auto;
    display: block;
}


.box {
    width: 500px;
    height: 500px;
    background-color: rgba(216, 191, 216, 0.7); 
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.box2 {
    width: 500px;
    height: 500px;
    background-color: rgba(135, 206, 235, 0.7); 
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.box3 {
    width: 500px;
    height: 500px;
    background-color: rgba(144, 238, 144, 0.7); 
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.box4 {
    width: 500px;
    height: 500px;
    background-color: rgba(255, 182, 193, 0.7); 
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.box5 {
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 0, 0.7); 
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}   

.box6 {
    width: 500px;
    height: 500px;
    background-color: rgba(255, 165, 0, 0.7); 
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}


.img1 {
    width: 100%; 
    height: auto;
    border-radius: 10px;
    opacity: 1; 
    margin: 0; 
}

.box-link {
    text-decoration: none; 
    color: inherit;
    display: block; 
    width: fit-content; 
}

.box-container {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    justify-content: center;
    gap: 170px;
}

.off-white-tape {
    width: 100%;
    height: 100px;
    background-size: cover;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto 30px;
    padding: 40px 20px;
}

.footer-section {
    text-align: left;
}

.footer-section h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    color: #fff;
    font-family: 'courier new', courier, monospace;
}

.footer-section h4 {
    font-size: 16px;
    margin: 0 0 15px 0;
    color: #fff;
    text-transform: uppercase;
    font-family: 'courier new', courier, monospace;
}

.footer-section p {
    font-size: 14px;
    color: #aaa;
    margin: 0;
    font-family: 'arial', sans-serif;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin: 8px 0;
}

.footer-section a {
    color: #aaa;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
    font-family: 'arial', sans-serif;
}

.footer-section a:hover {
    color: #fff;
}

.footer-bottom {
    border-top: 1px solid #333;
    padding-top: 20px;
    font-size: 12px;
    color: #666;
    font-family: 'arial', sans-serif;
}

