body {
    overflow-x: hidden;
    background-color: black;
}

h1 {
    font-size: 100px;
    color: black;
    font-family: 'courier new', courier, monospace;
    font-weight: bold;
    text-align: center;
}

.h2 {
    font-size: 50px;
    color: black;
    font-family: 'courier new', courier, monospace;
    font-weight: bold;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    margin-left: 300px;
    margin-right: 300px;

}

.p1 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: 'arial', sans-serif;
    font-weight: bold;
    text-align: center;
}
button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    margin: auto;
    display: block;
}


.box {
    width: 500px;
    height: 500px;
    background-color: rgba(216, 191, 216, 0.7); 
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.box2 {
    width: 500px;
    height: 500px;
    background-color: rgba(135, 206, 235, 0.7); 
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.box3 {
    width: 500px;
    height: 500px;
    background-color: rgba(144, 238, 144, 0.7); 
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.box4 {
    width: 500px;
    height: 500px;
    background-color: rgba(255, 182, 193, 0.7); 
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.box5 {
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 0, 0.7); 
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}   

.box6 {
    width: 500px;
    height: 500px;
    background-color: rgba(255, 165, 0, 0.7); 
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}


.img1 {
    width: 100%; 
    height: auto;
    border-radius: 10px;
    opacity: 1; 
    margin: 0; 
}

.box-link {
    text-decoration: none; 
    color: inherit;
    display: block; 
    width: fit-content; 
}

.box-container {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    justify-content: center;
    gap: 170px;
}

.off-white-tape {
    width: 100%;
    height: 100px;
    background-size: cover;
}