---
title: Website For A Client
date: 2025-12-14
---
{% extends "layouts/post.njk" %}

{% block postContent %}
<p>You already wrote about this in a README file. You're fine to copy/paste!</p>
{% endblock %}
