{% extends "layouts/base.njk" %}

{% block content %}
<article>
  <h1>{{ title }}</h1>
  <p class="post-date">{{ date | readableDate }}</p>
  {% block postContent %}{% endblock %}
</article>
{% endblock %}
